<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONURHAN ERKOÇ</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

	<header>
		<h2><a >ALL ACCOUNT : @onurhanerk</a></h2>
	
	</header>


	<section class="hero">
		<div class="background-image" style="background-image: url({{ url_for('static', filename='img/original.gif') }});"></div>
		<h1>ONURHAN ERKOÇ</h1>
		<h3>My Database Project</h3>
		<div>
			<form action="/send" method="POST" id="form1" name="deneme">
			
				<div   id="connectDiv1"  style="display:none;"  class="answer_list" > {{deneme}}</div>
			
			</form>
		</div>
		
		<div>
			<form action="/createTable" method="POST" id="form2" name="deneme">
				<div   id="connectDiv2"    style="display:none;" class="answer_list" > {{deneme}}</div>
			</form>
		</div>
		
		<div>
			<form action="/UDAS" method="POST" id="form3" name="deneme">
				<div   id="connectDiv3"    style="display:none;" class="answer_list" > {{deneme}}</div>
			</form>
		</div>
		
		<div>
		<a href="send" class="btn" type="submit" form="form1" onclick="showDiv1()" > Connect</a>
				
		<a href="createTable" type="submit" form="form2" class="btn"  onclick="showDiv2()">Create Tables</a>
		<a href="UDAS"  type="submit" form="form3" class="btn"  onclick="showDiv3()">U-D-A-S</a></div>
		</div>
		
		
		
	</section>

<script>
function showDiv1() {
   document.getElementById('connectDiv1').style.display = "block";
}
function showDiv2() {
   document.getElementById('connectDiv2').style.display = "block";
}
function showDiv3() {
   document.getElementById('connectDiv3').style.display = "block";
}
</script>

</body>

</html>
