<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONURHAN ERKOÇ</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

	<header>
		<h2><a >ALL ACCOUNT : @onurhanerk</a></h2>
	
	</header>


	<section class="hero">
		<div class="background-image" style="background-image: url({{ url_for('static', filename='img/original.gif') }});"></div>
		<h1>ONURHAN ERKOÇ</h1>
		<h3>My Database Project</h3>
		<div>
		
		<div>
			<form action="/UPDATE" method="POST" id="form1" name="deneme">
			
				<div   id="connectDiv1"    class="answer_list" > {{deneme}}</div>
			
			</form>
		</div>
		
		<div>
			<form action="/SHOW" method="POST" id="form2" name="deneme">
				<div   id="connectDiv2"    style="display:none;" class="answer_list" > {{deneme}}</div>
			</form>
		</div>
				
		<div>
			<form action="/ADD" method="POST" id="form3" name="deneme">
				<div   id="connectDiv3"    style="display:none;" class="answer_list" > {{deneme}}</div>
			</form>
		</div>
		<div>
			<form action="/SEARCH" method="POST" id="form4" name="deneme">
				<div   id="connectDiv4"    style="display:none;" class="answer_list" > {{deneme}}</div>
			</form>
		</div>
		<div>
			<form action="/DELETE" method="POST" id="form5" name="deneme">
				<div   id="connectDiv4"    style="display:none;" class="answer_list" > {{deneme}}</div>
			</form>
		</div>
		
		<div>
			<form action="/SIMILAR" method="POST" id="form5" name="deneme">
				<div   id="connectDiv5"    style="display:none;" class="answer_list" > {{deneme}}</div>
			</form>
		</div>
		
		<div>
		<a href="UPDATE" class="btn" type="submit" form="form1" onclick="showDiv1()" > UPDATE</a>
		<a href="SHOW" type="submit" form="form2" class="btn"  onclick="showDiv2()">SHOW</a></br></br>
		<a href="ADD"  type="submit" form="form3" class="btn"  onclick="showDiv3()">ADD</a>
		<a href="DELETE" type="submit" form="form2" class="btn"  onclick="showDiv2()">DELETE</a></br></br>
		<a href="SEARCH"  type="submit" form="form5" class="btn"  onclick="showDiv4()">SEARCH</a>
		<a href="SIMILAR"  type="submit" form="form2" class="btn"  onclick="showDiv5()">SIMILAR</a></div>
		</div>
		
		
		
		
	</section>

<script>
function showDiv1() {
   document.getElementById('connectDiv1').style.display = "block";
}
function showDiv2() {
   document.getElementById('connectDiv2').style.display = "block";
}
function showDiv3() {
   document.getElementById('connectDiv3').style.display = "block";
}
function showDiv4() {
   document.getElementById('connectDiv4').style.display = "block";
}
function showDiv5() {
   document.getElementById('connectDiv5').style.display = "block";
}
</script>

</body>

</html>
